.service {
    padding-top: 172px;
    padding-bottom: 185px;
}
.management{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.management__list{
    max-width: 490px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.management__item:nth-child(1){
    margin-bottom: 132px;
}
.management__item{
    margin-top: 25px;
}
.management__sub{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    color: $darkBlue;
}
.management__title{
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: $darkBlue;
}
.management__name{
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: $darkBlue;
}
.management__info{
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
    color: $darkBlue;
}
.management__img{
    max-width: 539px;
}
@media (max-width:1080px){
    .management{
        align-items: center;
        justify-content: center;
    }
    .management__item:nth-child(1){
        margin-bottom: 16px;
    }
    .management__img{
        display: block;
        max-width: 380px;
    } 

}

@media (max-width:1040px){
    .service{
        padding-top: 130px;
        padding-bottom: 150px;
    }
    .management{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }   
    .management__item:nth-child(1){
        margin-bottom: 16px;
    }
}
@media (max-width:590px){
    .management{
        align-items: center;
        justify-content: center;
    }
    .service{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: left;
    }
    
    .management__img{
        max-width: 349px;
    }
}
@media (max-width:430px){
    .management{
        align-items: center;
        justify-content: center;
    }

    .management__item{
        max-width: 300px;
    }
    .management__img{
        max-width: 280px;
    }
}